body {
  font-family: 'Roboto', sans-serif;
}

.Container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.flatInput {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  outline: none;
}

.flatInput:focus {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  outline: none;
}

.Button {
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  font-size: large;
  padding: 0.5em;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
  transition: 0.5s;

  transition: color 0.09s, background-color 0.09s;
}

.Button:active {
  border: 2px solid black;
  color: #000000;
  background-color: #ffffff;
  transition: 0.05s;
}